@import 'world.css';

html {
  font-family: sans-serif;
}

body {
  display: flex;
}

#searchForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #BEC9D5;
  height: 800px;
}

label {
  display: flex;
  flex-direction: column;
}

#priceRange {
  display: flex;
  flex-direction: row;
}

#minPrice {
  width: 40%;
}

#maxPrice {
  width: 40%;
}
