@import 'world.css';

html {
  font-family: sans-serif;
  font-weight: 700;
}

body {
  display: flex;
}

label {
  display: flex;
  flex-direction: column;
  margin: 0 30px 30px 30px;
}

div {
  margin: 0 30px 30px 30px;
}

h1 {
  margin: 0 30px 30px 30px;
}
#searchForm {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-color: #BEC9D5;
  height: 750px;
}

#priceRange {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#submitBtn {
  margin: 0 30px 30px 30px;
}
