@import 'reset.css';
@import 'world.css';
@import 'slider.css';

body {
  color: white;
  display: flex;
  font-size: 1em;
}

.loader {
  position: fixed;
  top: calc(50vh - 2.5vw);
  right: calc(40vw - 2.5vw);
  height: 5vw;
  width: 5vw;
  border: 30px solid #f3f3f3;
  border-top: 30px solid red;
  border-radius: 50%;
  animation: spin 2s linear infinite;
  z-index: 100;
  opacity: 0.7;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

#searchForm {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #3cabbc;
  width: 20vw;
  padding: 2%;
}

#searchForm h1 {
  font-weight: 700;
  font-size: 2em;
  margin-bottom: 5%;
}

#searchForm summary {
  margin-bottom: 20%;
}

#searchForm label {
  margin-bottom: 5%;
}

#searchForm label:last-of-type {
  margin-bottom: 5%;
}

#searchForm p {
  font-weight: 700;
  margin-bottom: 3%;
}

#searchQuery {
  box-sizing: border-box;
  width: 100%;
  padding: 3%;
}

#priceRange {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  font-weight: 700;
}

#priceRange input {
  padding: 3%;
  font-weight: normal;
  width: 38%;
}

#resultSlider {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  font-weight: 700;
}

#resultSlider input {
  width: 88%;
}

#siteVersion{
  width: 100%;
  padding: 3%;
  cursor: pointer;
  margin-bottom: 2%;
  -webkit-appearance: none;
  background: white url("../arrow1.png") no-repeat;
  background-position: 97%;
  background-size: 1em;
  border-radius: 0;
}

#regionNote {
  font-size: 0.8em;
  font-style: italic;
}

#submitBtn {
  background-color: #4c5055;
  width: 100%;
  padding: 6%;
  color: white;
  font-weight: 700;
  font-size: 1.3em;
  cursor: pointer;
  margin-bottom: 5%;
  transition: all 175ms ease;
}

#submitBtn:hover {
  background-color: #5f646a;
}

#errorBox {
  padding: 3%;
  background: repeating-linear-gradient(
    45deg,
    black,
    black 20px,
    yellow 10px,
    yellow 40px
    );
  margin-bottom: 5%;
}

#errors {
  opacity: 0.9;
  background: white;
  color: black;
  font-weight: bold;
  padding: 3%;
  text-transform: uppercase;
}

#links {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: auto;
}

#links a {
  margin-right: 10%;
}

#links a:last-of-type {
  margin-right: 0;
}

#links i {
  color: white;
  transition: all 175ms ease;
}

#links i:hover {
  transform: scale(1.5);
}

.hidden {
  display: none;
}
