.world path {
  fill: #4BD4E9;
  stroke: white;
}

svg {
  background-color: #BEC9D5;
  height: 100vh;
  width: 80vw;
}

.mapMarkers path {
  fill: #FF0000;
  stroke: white;
  cursor: pointer;
}

.tooltip {
  position: absolute;
  width: 10%;
  font: 12px sans-serif;
  background: white;
  pointer-events: none;
  opacity: 0;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
}

.tooltip section {
  box-sizing: border-box;
  width: 100%;
  padding: 5px;
  color: white;
  font-weight: bold;
  background-color: red;
}

.tooltip img {
  width: 100%;
}


.tooltip p {
  margin: 0px;
  padding: 5px;
  font-weight: bold;
  color: black;
}
