.world path {
  fill: #3cabbc;
  stroke: white;
}

.water {
  fill: #4BD4E9;
  opacity: 0.3;
}

.draggable {
  cursor: move;
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;
}

.draggable:active {
  cursor: grabbing;
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
}

svg {
  background-image: url('../grid.png');
  height: 100vh;
  width: 80vw;
}

.mapMarkers path {
  fill: #FF0000;
  stroke: white;
  cursor: pointer;
}

.tooltip {
  pointer-events: none;
  position: absolute;
  width: 10%;
  font: .9em sans-serif;
  background: transparent;
  opacity: 0;
  display: flex;
  flex-direction: column;
}

.tooltip section {
  box-sizing: border-box;
  width: 100%;
  padding: 4%;
  color: white;
  font-weight: bold;
  background-color: #4c5055;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

.tooltip img {
  box-sizing: border-box;
  width: 100%;
}


.tooltip p {
  box-sizing: border-box;
  text-align: right;
  width: 100%;
  padding: 4%;
  color: white;
  font-weight: bold;
  background-color: #4c5055;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}
